.setting-content a {
  padding-bottom: 30px;
text-decoration: none;
  padding: 15px;
}

.setting-content a p{
   
 
    text-align: center;
    font-size: 33px;
    font-weight: 400;
   
}

.setting-content h4{
    font-size: 55px;
    margin-bottom: 20px;
}


@media (max-width: 600px){

    
    .setting-content a{
     padding: 0;
     margin: 0;
     
    
    }

    
.setting-content h4{
    font-size: 50px;
    margin-bottom: 10px;
}
    .setting-content a p{
        font-size: 20px;
      padding: 12px;
       width: 200px;
       height: 50px;
    }
}