.container a{
    text-decoration: none;
}

.container p, label{
    /* text-shadow: 0px 2.577px 0px #723400; */
    /* -webkit-text-stroke-width: 0.1610850691795349; */
    /* -webkit-text-stroke-color: #000; */
    font-family: "Lilita One";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #FFF 30.82%, #f89940 86.99%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    
    }

    .container h4{
        color: var(--color-brand-50, #DACBC0);
font-family: "Lilita One";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;
padding-bottom: 80px;
padding-top: 10px;
    }




@media (max-width: 600px){

    .container h4{
       padding-bottom: 40px;
       }
 

    
.setting-content h4{
    font-size: 50px;
    /* margin-bottom: 100px; */
    
}
    .setting-content p{
        font-size: 20px;
      padding: 8px;
       width: 250px;
       height: 40px;
    }
}
