*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url(./img/background-png.png), #6A3B16;
   background-size: cover;

}

.levelWrapper{
    padding: 20px;
}

.top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    
}

.top-container h4{
    font-size: 40px;
    font-weight: 400;
    color: #DACBC0;
    font-family: "Lilita One";
}

.top-container img{
    width: 30px;
    background: transparent;
}

.top-container button{
display: flex;
justify-content: space-evenly;
align-items: center;
    width: 150px;
    height: 45px;
    font-size: 15px;
    padding: 10px;
    background: #814A1F;
    border-radius: 50px;
    border-style: none;
    color: #DACBC0;
    transition: .5s ease-in-out;
    box-shadow: 10.93px 10.019px 27.325px 0px #4A2A11 inset, -20.038px -10.93px 27.325px 0px #5D3619 inset;
}

.top-container button img{
   width: 30px;
}

.top-container button span{
    display: flex;
   align-items: center;
}


.top-container button:hover{
    box-shadow: 10.93px 10.019px 27.325px 0px #522f14 inset;
    cursor: pointer;
}

.level-box{
    max-width: 350px;
    height: 75vh;
    border-radius: 90px;
background: linear-gradient(0deg, #814A1F 0%, #814A1F 100%), linear-gradient(0deg, #814A1F 0%, #814A1F 100%), #814A1F;
box-shadow: 10.93px 10.019px 27.325px 0px #4A2A11 inset, -20.038px -10.93px 27.325px 0px #5D3619 inset;
text-align: center;
padding: 40px;
margin-top: 100px;
padding-bottom: 150px;

}

.level-box h3{
    text-shadow: 0px 2px 0px #e8be9d;
-webkit-text-stroke-width: 0.1610850691795349;
-webkit-text-stroke-color: #000;
font-family: "Lilita One";
font-size: 44px;
font-style: normal;
font-weight: 400;
/* color: #ede6e2; */
line-height: normal;
background: linear-gradient(180deg, #FFF 30.82%, #e69e5b 86.99%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.level-box .box-content{
    
    display: flex;
    max-width: 270px;
    height: 45vh;
    /* transform: rotate(90deg); */
    padding: 40px 0px 32px 0px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 40px;
background: #6A3B16;
margin-top: 30px;
}

.level-box .box-content h4{
    /* text-shadow: 0px 2.577px 0px #e8be9d; */
    -webkit-text-stroke-width: 0.1610850691795349;
    -webkit-text-stroke-color: #000;
    font-family: "Lilita One";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    /* color: #ede6e2; */
    line-height: normal;
    background: linear-gradient(180deg, #FFF 30.82%, #e69e5b 86.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.level-box .stake-fee{
    color: #DACBC0;
    display: flex;
}

.level-box .stake-fee img{
    width: 25px;
    height: 25px;
    margin: 2px;
}

.level-box .reward{
    color: #DACBC0;
    display: flex;
}

.level-box .reward img{
    width: 25px;
    height: 25px;
    margin: 2px;
}

.level-box button{
    width: 220px;
    border-radius: 100px;
background: #3F240F;
padding: 10px;
border-style: none;
margin-top: 10px;
margin-bottom: 40px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
font-family: "Lilita One";
font-size: 26px;
font-style: normal;
font-weight: 400;
color: #DACBC0;
 transition: .5s ease-in-out;
}


.level-box button:hover{
    transform: scale(.9);
    box-shadow: 10.93px 10.019px 27.325px 0px #512d11;
    cursor: pointer;
}

.level-content{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    flex-wrap: wrap;
}

@media (max-width: 500px) {


    .level-box {
        max-width: 400px;
        height: 65vh;
        margin-top: 20px;
      
    }

    .level-box h3 {
        font-size: 33px;
        
    }

    .level-box .box-content {
        height: 35vh;
    
    }

    .level-box button {
        width: 150px;
    }
    .app{
        padding: 1.5rem;
    }
    .top-container button {
       
        width: 90px;
        height: 45px;
        font-size: 12px;
        padding: 8px;
    }

    .top-container button img{
width: 18px;
    }

    .top-container img {
        width: 20px;
      
    }

    .top-container h4 {
        font-size: 16px;
        
    }

    .levelWrapper {
        padding: 0px;
    }
}