.img-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    padding: 40px;
    gap: 20px;
    border-radius: 50px;
    /* overflow-x: auto; */
 margin-top: 20px;
}

.img-container::-webkit-scrollbar{
    width: 0;
}


.load{
    font-family: "Lilita One";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    background: linear-gradient(180deg, #FFF 30.82%, #e69e5b 86.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}



/* .container img{
    width: 40px;
} */

.container h3{
    font-family: "Lilita One";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: normal;
    background: linear-gradient(180deg, #FFF 30.82%, #e69e5b 86.99%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-top: 15px;
}

.container a button{
    width: 220px;
    border-radius: 100px;
background: #3F240F;
padding: 10px;
border-style: none;
text-align: center;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
font-family: "Lilita One";
font-size: 26px;
text-decoration: none;
font-weight: 400;
color: #DACBC0;
 transition: .5s ease-in-out;
/* margin-left: 300px; */
}

.container button:hover{
    transform: scale(.9);
    box-shadow: 10.93px 10.019px 27.325px 0px #512d11;
    cursor: pointer;
}

.container .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


@media (max-width: 600px) {
    .container a img{
  width: 30px;
    }

    .img-container img {
      width: 150px;
    }
    .img-container {
     grid-template-columns: repeat(2, 1fr);
     padding: 5px;
    }

.container h3{
padding-bottom: 20px;
    font-size: 30px;
}

.container .btn{
  
    padding-top: 30px;
    padding-bottom: 30px;
}


.container a button{
width: 300px;
}

}


