:root {
  --color-brand-50: #dacbc0;
  --color-brand-100: #cfbcae;
  --color-brand-200: #814a1f;
  --color-brand-300: #a58165;
  --color-brand-500: #7a451d;
  --color-brand-600: #663a18;
  --color-brand-800: #3f240f;
  --color-brand-900: #2c190a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.app {
  padding: 4rem;
}
